[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
django-debug-toolbar = "*"
django-extensions = "*"

[packages]
Django = "<2.1"
"psycopg2-binary" = "*"
django-environ = "*"
whitenoise = "*"
django-filter = "<2"
requests = "*"
spotipy = "*"
firebase-admin = "*"
graphene-django = "*"
djangorestframework = "*"

[requires]
python_version = "3.6"
